h4
{
    color:purple;

}


select{
    
    color:rgb(255, 0, 255);
    background-color: black;
}
h3
{
    color:purple;

}

.p2 
{

   text-align:center;

}

.p1
{
    color:rgb(252, 252, 252);  
    font-size: 2ch;
}
.p3
{
    color:rgb(255, 255, 255); 
    font-size: 2ch;
}
footer
{
    background-color: rgb(228, 77, 77);
    text-align:center
}
button{
    color:rgb(255, 0, 255);
    background-color: black;
}

  .topnav {
    overflow: hidden;
    background-color: rgb(228, 77, 77);
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    font-size: 17px;
  }
  label{
    color:rgb(255, 0, 255);
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
 