h4
{
    color:purple;

}


select{
    
    color:rgb(255, 0, 255);
    background-color: black;
}
h2
{
   text-align: 
   
   
}
h3
{
    color:purple;

}

.p2 
{

   text-align:center;

}

.p1
{
    color:rgb(252, 252, 252);  
    font-size: 2ch;
}
.p3
{
    color:rgb(255, 255, 255); 
    font-size: 2ch;
}
footer
{
    background-color: rgb(228, 77, 77);
    text-align:center
}
button{
    color:rgb(255, 0, 255);
    background-color: black;
}

  .topnav {
    overflow: hidden;
    background-color: rgb(228, 77, 77);
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    font-size: 17px;
  }
  label{
    color:rgb(255, 0, 255);
  }

  
 .containt
 {
    text-align: center;
 }
 table
 {
    border: 1px solid;
 }

 

.nav-links h2 {

  list-style: none;
  position: relative;
text-align: center;
  display: inline-block;

  padding: 8px 50px;

  width: 100px;

  height: 100px;

  background-color: rgb(218 222 242);

  animation-name: Aman;

  animation-duration: 10s;

}
@keyframes Aman{

  0% {

      background-color: red;

  }

  15% {

      background-color: yellow;

  }

  30% {

      background-color: blue;

  }

  45% {

      background-color: green;

  }

  60% {

      background-color: rgb(239, 11, 194);

  }

  75% {

      background-color: rgb(112, 240, 129);

  }

  100% {

      background-color: rgb(115, 0, 128);

  }

}
body{
  background-color: aquamarine;
  background-image: url("./images/.jpg" );
}
/* table th img
{
  z-index: -1;
} */
